@inherits LayoutComponentBase

<PageTitle>DragAndDrop</PageTitle>

<div class="page">
    <MudThemeProvider/>
    <div style="width:70px; background-color: #32293F; " >
        <NavMenu />
    </div>

    <main style="height: 100vh;">
        <article class="px-4" style="background: linear-gradient(282.9deg, #C33764 -18.56%, #1D2671 100%);">
            @Body
        </article>
    </main>
</div>
