<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <a href='/'>
        <div
            style="margin-top: 21px; background-color: white; width: 46px; height: 46px; display: flex; justify-content: center; align-items: center; border: 0px solid black; border-radius: 4px;">
            <img src="img/logo.svg" alt="logo" width="30" height="30" />
        </div>
    </a>
    <a href="/users">
        <div
            style="margin-top: 42px; background-color: white; width: 46px; height: 46px; display: flex; justify-content: center; align-items: center; border: 0px solid black; border-radius: 4px;">
            <img src="img/star_logo.svg" alt="logo" width="30" height="30" />
        </div>
    </a>
    <div
        style="margin-top: 21px; background-color: white; width: 46px; height: 46px; display: flex; justify-content: center; align-items: center; border: 0px solid black; border-radius: 4px;">
        <img src="img/star_logo.svg" alt="logo" width="30" height="30" />
    </div>
</div>
